body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
a {
  color: black;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 'jumbopict login';
}

.jumbopict {
  height: 100vh;
  grid-area: jumbopict;
  background-color: antiquewhite;
  background-image: url('../images/jumbo4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login {
  grid-area: login;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.signin {
  width: 70%;
  position: relative;
}
.login h1 {
  align-self: flex-start;
  position: relative;
}
.continuewith {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: rgb(169, 166, 166);
  margin-top: -5rem;
  position: relative;
}
.continuewith a {
  text-decoration: none;
}
.continuewith img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
.choose {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid black;
  justify-content: center;
  border-radius: 40px;
  margin: 0.5rem;
  padding: 0.2rem;
  position: relative;
}
.or {
  margin-top: -5rem;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.or::after,
.or::before {
  margin: 1rem;
  content: ' ';
  width: 70%;
  height: 1px;
  background-color: rgb(169, 166, 166);
}
.form {
  width: 70%;
  margin-top: -5rem;
  position: relative;
}
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.1rem;
  position: relative;
}

label {
  align-self: flex-start;
  color: rgb(169, 166, 166);
}

input {
  padding: 1rem;
  border: 1px solid rgb(169, 166, 166);
  border-radius: 10px;
  position: relative;
}

form a {
  align-self: flex-end;
}

.button {
  margin-top: -5rem;
  width: 70%;
  position: relative;
}

button {
  padding: 10px;
  background-color: rgb(169, 166, 166);
  color: rgb(255, 255, 255);
  width: 12rem;
  border-radius: 20px;
  border: 1px solid;
  transition: 0.3s ease;
  position: relative;
}

button:hover {
  background-color: rgb(198, 194, 194);
}
