:root {
  --pale-purple-pantone: hsl(262, 63%, 92%);
  --medium-sea-green: hsl(152, 63%, 43%);
  --lavender-blush: hsl(336, 35%, 92%);
  --carolina-blue: hsl(204, 91%, 53%);
  --columbia-blue: hsl(204, 92%, 90%);
  --alice-blue-1: hsl(216, 38%, 95%);
  --alice-blue-2: hsl(216, 75%, 97%);
  --alice-blue-3: hsl(216, 38%, 95%);
  --alice-blue-4: hsl(217, 33%, 92%);
  --independence: hsl(219, 21%, 39%);
  --deep-cerise: hsl(329, 63%, 52%);
  --eerie-black: hsl(210, 11%, 15%);
  --space-cadet: hsl(240, 22%, 25%);
  --blue-jeans: hsl(204, 80%, 63%);
  --slate-blue: hsl(262, 60%, 57%);
  --beau-blue: hsl(208, 86%, 92%);
  --honey-dew: hsl(152, 48%, 89%);
  --mimi-pink: hsl(329, 63%, 90%);
  --red-salsa: hsl(0, 79%, 63%);
  --sapphire: hsl(211, 100%, 35%);
  --manatee: hsl(219, 14%, 60%);
  --white: hsl(0, 0%, 100%);

  --gradient: linear-gradient(to top, var(--alice-blue-2), var(--alice-blue-3));

  --ff-nunito: 'Nunito', sans-serif;
  --ff-open-sans: 'Open Sans', sans-serif;

  --fs-1: 2.125rem;
  --fs-2: 1.875rem;
  --fs-3: 1.5rem;
  --fs-4: 1.375rem;
  --fs-5: 1.125rem;
  --fs-6: 0.875rem;
  --fs-7: 0.625rem;

  --fw-400: 400;
  --fw-600: 600;

  /**
   * transition
   */

  --transition: 0.5s ease;

  /**
   * spacing
   */

  --section-padding: 50px;

  /**
   * radius
   */

  --radius-10: 10px;
  --radius-14: 14px;
  --radius-18: 18px;

  /**
   * shadow
   */

  --shadow-1: 3px 3px 9px hsla(240, 14%, 69%, 0.2);
  --shadow-2: 3px 3px 9px hsla(204, 92%, 59%, 0.3);

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
a {
  color: black;
}

.back ion-icon{
  font-size: 50px;
  --ionicon-stroke-width: 40px;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 'jumbopict login';
}

.jumbopict {
  height: 100vh;
  grid-area: jumbopict;
  background-image: url('../images/carrrrrrrr.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login {
  grid-area: login;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.signin {
  width: 70%;
  position: relative;
  margin: 10px;
}
.login h1 {
  align-self: flex-start;
  position: relative;
}
.continuewith {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: rgb(169, 166, 166);
  margin-top: -5rem;
  position: relative;
}
.continuewith a {
  text-decoration: none;
}
.continuewith img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
.choose {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid black;
  justify-content: center;
  border-radius: 40px;
  margin: 0.5rem;
  padding: 0.2rem;
  position: relative;
}
.or {
  margin-top: -5rem;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.or::after,
.or::before {
  margin: 1rem;
  content: ' ';
  width: 70%;
  height: 1px;
  background-color: rgb(169, 166, 166);
}
.form {
  width: 70%;
  margin-top: -5rem;
  position: relative;
}
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.1rem;
  position: relative;
}

label {
  align-self: flex-start;
  color: rgb(169, 166, 166);
}

input {
  padding: 1rem;
  border: 1px solid rgb(169, 166, 166);
  border-radius: 10px;
  position: relative;
}

form a {
  align-self: flex-end;
}

.button {
  margin-top: -5rem;
  width: 70%;
  position: relative;
}

button {
  padding: 10px;
  background-color: hsl(0, 79%, 63%);
  color: rgb(255, 255, 255);
  width: 12rem;
  border-radius: 20px;
  border: 1px solid;
  transition: 0.3s ease;
  position: relative;
}

button:hover {
  background-color: rgb(198, 194, 194);
}
